<%- include('header') -%>

<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="#">The blog world</a>
      <a href="/route/logout"><button class="btn btn-primary" type="submit">Log out</button></a>
    </div>
</nav>


<div class="cover-container d-flex w-100 h-100 mt-5 mx-auto flex-column">
  <h1 class="display-5 text-secondary  text-center m-3">Web site Details</h1>
  <div class="container bg-light text-dark p-5">
      <div class="row"> 
        <div class="col-lg-6">
          <div class="display-6 text-secondary text-center m-3">Number of users</div>
          <div class="text-center text-success  display-6"><%=len%></div>
        </div>
        <div class="col-lg-6">
          <div class="display-6 text-secondary  text-center m-3">Number of posts</div>
          <div class="text-center text-success  display-6"><%=blogNo%></div>
        </div>
      </div>
  </div>
</div>




<div class="cover-container d-flex w-100 h-100 mt-5 mx-auto flex-column">
    <h1 class="display-5 text-center m-3 text-secondary ">User details</h1>
    
    <div class="container bg-light text-dark">
      <table class="table table-striped">
        <form action="/route/search" method="get">
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" name="search" />
            <button type="submit" class="btn btn-outline-primary">search</button>
          </div>
        </form>
        
        <tr><th>User ID</th><th>User Name</th><th>name</th><th>email</th><th>Update</th><th>Delete</th></tr>
        <%for(let i =0 ; i<len; i++){ %>
        <tr><td><%= users[i]._id %></td><td><%= users[i].userName %></td><td><%= users[i].name %></td><td><%= users[i].email %></td><td class="text-center"><button type="button" class="btn btn-outline-warning btn-sm">^</button></td><td class="text-center"><button type="button" class="btn btn-outline-danger btn-sm">X</button></td></tr>
        <% } %>
      </table>

      <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add a user</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/route/addUser" method="post">
                  <div class="mb-3">
                    <label for="user" class="col-form-label">User name:</label>
                    <input type="text" class="form-control" id="user" name="user">
                  </div>
                  <div class="mb-3">
                    <label for="name" class="col-form-label">name:</label>
                    <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email"></input>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="col-form-label">Password:</label>
                    <input type="text" class="form-control" id="password" name="password"></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Add user</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>


<%- include('footer') -%>